#canvas {
        margin: 0;
        background-image: url(assets/images/p-background.png);
        background-repeat: no-repeat;   /* Ensure that background does not repeat */
        background-position: center;
	}

#map {
        margin: 0;
        height: 600px; 
        width: 100%; 
    }

#wheelCol {
text-align: center;
}

#spinButton {
    text-align: right;
    margin-top: 300px;
}

#resetButton {
    text-align: left;
    margin-top: 300px;
}