#canvas {
        margin: 0;
        background-image: url(assets/images/p-background.png);
        background-repeat: no-repeat;   
        background-position: center;
	}

#map {
        height: 600px; 
        width: 100%; 
    }

.map-container{
    margin-top: 15px;
}

#wheelCol {
text-align: center;
}
