#canvas {
        margin-bottom: 10px;
        background-image: url(assets/images/p-background.png);
        background-repeat: no-repeat;   
        background-position: center;
	}

.canvasBack {
background-image: url(assets/images/GSback.png);
background-position: center;
background-repeat: no-repeat;
width: 100vw;
}

.buttonCol {
    padding-top: 0px;
    padding-bottom: 32px;
}
#map {
        height: 600px; 
        width: 100%; 
    }

.map-container{
    margin: 0px;
    padding: 0px;
}

#wheelCol {
text-align: center;
margin-top: 0px;
}
