/*#canvas {
	/* margin-bottom: 10px;
    margin-top: 10px; */
	/* background-image: url(../images/p-background.png);
	background-repeat: no-repeat;
	background-position: center; */
    /* height: 600;
    width: 600; 
}*/

  #wheelCol {
      padding: 0px;
  }



   /* background-color: red; 
	text-align: center;
	margin-top: 0px;
    /* max-height: 600px;
    max-width: 600px; */ 
/* } */

/* .canvasBack { */
.backg {
    /* background-color: red; */
	background-image: url(../images/GSback.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding: 0px;
    margin: 0px;
	/* width: 100vw; 
	padding-bottom: 50px;
    max-height: 600px;
    max-width: 600px; */ 
    }


/* .buttonCol {
	padding-top: 0px;
    text-align: center; 
}*/

#map {
	height: 600px;
	width: 100%;
}

.map-container {
	margin: 0px;
	padding: 0px;
}
