.backg {
	background-image: url(../images/GSback.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
}

#wheelCol {
	padding: 0px;
}

#map {
	height: 600px;
	width: 100%;
}

.map-container {
	margin: 0px;
	padding: 0px;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 16px;
	background-color: black;
	color: white;
	text-align: center;
}